/* Space out content a bit */
body {
  padding-top: 80px;
  padding-bottom: 20px;
  background-image: url("../img/fisherman.jpg");
  background-size: cover;
}
textarea {
  resize: none;
}

.navbar-brand {
  color: #FFFFFF;
  font-size: 36px;
  font-family: 'Lobster', cursive;
}
.navbar-static-bottom{
  border-top: 10px;
  border-right: 10px;
  border-left: 10px;
  border-bottom: 10px;
  font-family: 'Lobster', cursive;
  font-size: 16px;
  background-color: #212121;
  margin-top: 15px;
}
label{
  color: black;
  font-family: 'Lobster', cursive;
  font-size: 22px;
}
.fishImg{
  border-radius: 15px;
}
.thumbnail {
  background-color: #212121;
  border-top: 10px;
  border-right: 10px;
  border-left: 10px;
  border-bottom: 10px;
  
  border-color: #424242;
  border-radius: 15px;
  box-shadow: black;

  padding: 10px;
}
button {
  color: #FFFFFF;
  font-family: 'Roboto Slab', cursive;
  padding: 10px;
} 
.spec, a{
  color: #FFFFFF;
  font-family: 'Roboto Slab', cursive;
}
img{
  border-color: black;
}
.container-fluid {
    width: 970px;
}
p, h4, h3 {
  color: #FFFFFF;
}
.alert-info {
  background-color: #424242;
  border: 10px solid #424242;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  margin-right: 0px;
  margin-left: 0px;
}
.well{
  background: #212121;
  border: 3px solid #212121;
 /* box-shadow: 10px 10px 5px #888888; */
}

h1 {
  font-family: 'Lobster', cursive;
}
h2 {
  font-family: 'Lobster', cursive;
  font-size: 38px;
}
h3 {
  font-family: impact;
  font-size: 42px;
}

li {
  font-size: 16px;
}

.jumbo-username{
  /*color: #62c462;*/
  color: #51a351;
}



/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-right: 15px;
  padding-left: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header, h3 {
  padding-bottom: 19px;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
  color: #FFFFFF;
  background-color: #212121;
}
.jumbotron #addStuff {
  padding: 14px 24px;
  font-size: 21px;
}

.jumbotron button {
  margin-top: 0px;
  padding: 20px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }

}
