body{
	background-image: url("../img/gopher.jpg");
	background-size: cover;
}
h1{
	font-family: ubuntu;
	color: #212121;
}
.text{
	font-size: 38px;
	color : #FFFFFF;
}
.container-fluid{
	position: relative;
	padding-left: 20%;
	padding-right: 20%;
	padding-top: 10%;
}
.container{
	position: relative;
	padding-left: 20%;
	padding-right: 20%;
	padding-top: 10%;
}
.jumbotron{
	background-color: #212121;
	background-repeat: no-repeat;
}