{{define "addFish"}}
<div class="modal fade" id="addfish" tabindex="-1" role="dialog" aria-labelledby="addFishLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h2 style="color: black;" class="modal-title" id="addFishLabel">Add a Fish</h2>
      </div>
      <div class="modal-body">
      <!-- Page de Creation de Poisson -->
      <form role="form" method="POST" action="/fish" enctype="multipart/form-data">

        <div class="form-group">
          <label class="">Species</label>
          <select name="type" class="form-control">
            <option>Achigan</option>
            <option>Barbue</option>
            <option>Brochet</option>
            <option>Esturgeon</option>
            <option>Musky</option>
            <option>Perchaude</option>
            <option>Saumon</option>
            <option>Truite</option>
          </select>
        </div>

        <div class="row">

          <div class="col-lg-6">
            <div class="form-group">
              <label class="">Weigth</label>
              <input name="weigth" type="value" class="form-control" id="exampleInputPassword1" placeholder="Weigth" required>
            </div>
          </div>

          <div class="col-lg-6">
            <div class="form-group">
              <label class="">Length</label>
              <input name="length" type="value" class="form-control" id="exampleInputEmail1" placeholder="Length" required>
            </div>
          </div>

          <div class="col-lg-6">
            <div class="form-group">
              <label class="">Lure</label>
              <select name="lure" class="form-control">
                <option>Spiner-Bait</option>
                <option>Cuillere</option>
                <option>Jigger</option>
                <option>Worm</option>
                <option>Popper</option>
                <option>Jerk-Bait</option>
              </select>
            </div>
          </div>

          <div class="col-lg-6">
            <div class="form-group">
              <label class="">Location</label>

              <div class="input-append">
                <div class="input-group">
                  <input id="findme" name="location" type="text" class="form-control" placeholder="Location" required>
                  <span class="input-group-btn">
                    <button type="button" class="btn btn-success" onclick="getLocation()" style="padding: 6px;">FindMe</button>
                  </span>
                </div>
              </div>

            </div>
          </div>

        </div>

        <div class="form-group">
          <label>Picture</label>
          <input name="picture" type="file" class="filestyle" data-icon="true">
        </div>

        <div class="form-group">
          <label class="">Note</label>
          <textarea name="info" type="username" class="form-control" placeholder="Some Note" rows="4"></textarea>
        </div>

        <button type="submit" class="btn btn-success">Submit</button>

     </form>
    <!-- Fin de la creation de Poisson -->
      </div>
    </div>
  </div>
</div>
{{end}}