<html>
	<head>
		<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="css/style.css">
		<script type="text/javascript" src="js/jquery.min.js"></script>
		<script type="text/javascript">
		$(document).ready(function() {
			$("form").hide();
			$("form").fadeIn(2000);
		});
		</script>
	</head>
	<body>

		<form class="form-group" method="POST" action="/admin">
			<div class="container-fluid">
				<h1>Create a Article !</h1>
				<div class="input-group input-group-sm">
	  				<span class="input-group-addon">@</span>
	  				<input name="title" type="text" class="form-control" placeholder="Title">
				</div>
				<div class="input-group">
					<span class="input-group-addon">#</span>
					<textarea name="content" class="form-control" rows="5" placeholder="Text"></textarea>
				</div>
				<button class="btn btn-primary">Send</button>
			</div>
		</form>
	
	</body>
</html>