<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="">
    <link href="img/favicon.ico" rel="icon" type='image/x-icon'/>
    <!-- Fonts Link -->
    <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'/>
    <link href='http://fonts.googleapis.com/css?family=Roboto+Slab' rel='stylesheet' type='text/css'>
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="css/jumbotron.css" type="text/css" rel="stylesheet">

    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js"></script>
    <script src="js/jquery.min.js"></script>
    <script src="js/jquery-ui.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/bootstrap-filestyle.min.js"></script>    
    <script src="js/script.js"></script>
    <title>FishMe! | Results</title>
  </head>

  <body>

    {{template "navigation"}} <!-- Dynamic NavBar -->
      <div class="container">
        {{template "addFish"}}     
      </div>

      {{.}}

      {{template "map"}} 
  </body>
</html>

