<html>
	<head>
		<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
		<script src="js/jquery.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<title>Add User</title>

		<script type="text/javascript">
		$(document).ready(function() {
			$("iframe").hide();
			$("#addFish").click(function(){
				$("iframe").toggle();
			});
		});
		</script>
	</head>
	<body>
		<div class="container">
			<div class="well">
				<div class="row">
					<div class="col-md-8">
						<form role="form" method="POST" action="/fish">

						  <div class="form-group">
						    <label for="exampleInputUsername1">Espece</label>
						    <select name="type" class="form-control">
						    	<option>Barbue</option>
						    	<option>Musky</option>
						    	<option>Achigan</option>
						    	<option>Esturgeon</option>
						    	<option>Saumon</option>
						    	<option>Truite</option>
						    </select>
						  </div>
						  
						  <div class="form-group">
						    <label for="exampleInputEmail1">Username</label>
						    <input name="username" type="username" class="form-control" id="exampleInputEmail1" placeholder="Enter username" required>
						  </div>

						  <div class="form-group">
						    <label for="exampleInputPassword1">Weigth</label>
						    <input name="weigth" type="value" class="form-control" id="exampleInputPassword1" placeholder="Weigth" required>
						  </div>

						   <div class="form-group">
						    <label for="exampleInputUsername1">Length</label>
						    <input name="length" type="value" class="form-control" id="exampleInputEmail1" placeholder="Length" required>
						  </div>

						   <div class="form-group">
						    <label for="exampleInputUsername1">Location</label>
						    <input name="location" type="username" class="form-control" id="exampleInputEmail1" placeholder="Location" required>
						  </div>

						  <div class="form-group">
						    <label for="exampleInputUsername1">Lure</label>
						    <select name="lure" class="form-control">
						    	<option>Spiner-Bait</option>
						    	<option>Cuillere</option>
						    	<option>Jigger</option>
						    	<option>Worm</option>
						    	<option>Popper</option>
						    	<option>Jerk-Bait</option>
						    </select>
						  </div>

						  <div class="form-group">
						    <label for="exampleInputUsername1">Note</label>
						    <textarea name="info" type="username" class="form-control" id="exampleInputEmail1" placeholder="Some Note"></textarea>
						  </div>
						  <!--
						  <div class="form-group">
						    <label for="exampleInputFile">File input</label>
						    <input type="file" id="exampleInputFile">
						    <p class="help-block">Example block-level help text here.</p>
						  </div>
						  -->
						  <button type="submit" class="btn btn-success">Submit</button>

						</form>
						<button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
						  Add Fish!
						</button>
						<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
						  <div class="modal-dialog">
						    <div class="modal-content">
						      <div class="modal-header">
						        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						        <h4 class="modal-title" id="myModalLabel">Add a Fish</h4>
						      </div>
						      <div class="modal-body">
						      <!-- Page de Creation de Poisson -->
									<form role="form" method="POST" action="/fish">

									  <div class="form-group">
									    <label for="exampleInputUsername1">Espece</label>
									    <select name="type" class="form-control">
									    	<option>Barbue</option>
									    	<option>Musky</option>
									    	<option>Achigan</option>
									    	<option>Esturgeon</option>
									    	<option>Saumon</option>
									    	<option>Truite</option>
									    </select>
									  </div>
									  
									  <div class="form-group">
									    <label for="exampleInputEmail1">Username</label>
									    <input name="username" type="username" class="form-control" id="exampleInputEmail1" placeholder="Enter username" required>
									  </div>

									  <div class="form-group">
									    <label for="exampleInputPassword1">Weigth</label>
									    <input name="weigth" type="value" class="form-control" id="exampleInputPassword1" placeholder="Weigth" required>
									  </div>

									   <div class="form-group">
									    <label for="exampleInputUsername1">Length</label>
									    <input name="length" type="value" class="form-control" id="exampleInputEmail1" placeholder="Length" required>
									  </div>

									   <div class="form-group">
									    <label for="exampleInputUsername1">Location</label>
									    <input name="location" type="username" class="form-control" id="exampleInputEmail1" placeholder="Location" required>
									  </div>

									  <div class="form-group">
									    <label for="exampleInputUsername1">Lure</label>
									    <select name="lure" class="form-control">
									    	<option>Spiner-Bait</option>
									    	<option>Cuillere</option>
									    	<option>Jigger</option>
									    	<option>Worm</option>
									    	<option>Popper</option>
									    	<option>Jerk-Bait</option>
									    </select>
									  </div>

									  <div class="form-group">
									    <label for="exampleInputUsername1">Note</label>
									    <textarea name="info" type="username" class="form-control" id="exampleInputEmail1" placeholder="Some Note"></textarea>
									  </div>
									  <!--
									  <div class="form-group">
									    <label for="exampleInputFile">File input</label>
									    <input type="file" id="exampleInputFile">
									    <p class="help-block">Example block-level help text here.</p>
									  </div>
									  -->
									  <button type="submit" class="btn btn-success">Submit</button>

									</form>
							  <!-- Fin de la creation de compte -->
						      </div>
						    </div>
						  </div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</body>
</html>