<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="">
    <link href="img/favicon.ico" rel="icon" type='image/x-icon'/>
    <!-- Fonts Link -->
    <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'/>
    <link href='http://fonts.googleapis.com/css?family=Roboto+Slab' rel='stylesheet' type='text/css'>
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="css/jumbotron.css" type="text/css" rel="stylesheet">

    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js"></script>
    <script src="js/jquery.min.js"></script>
    <script src="js/jquery-ui.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/bootstrap-filestyle.min.js"></script>    
    <script src="js/script.js"></script>
    <title>FishMe! | Home</title>

  </head>

  <body>
      {{template "navigation"}}

    <div class="container">

      <div class="jumbotron">
<!--POUR LE USERNAME* -->
        <h3 style="font-family: 'Lobster', cursive;">Welcome back, <span class="jumbo-username">
          {{template "userId"}}
        </span> !</h3>


      <div class="jumbotron fish">

        <div class="col-lg-6">

<!-- ########## Add A fish Modal Begin ######### -->
          <h4>Add a new fish! </h4>
          <button id="addStuff" class="btn btn-success btn-lg" data-toggle="modal" data-target="#addfish">
            <span class="glyphicon glyphicon-plus"></span><a href="#"></a>
          </button>
        </div>

        {{template "addFish"}}

<!-- ########## Add A fish Modal End ######### -->

        <div class="col-lg-6">

<!-- ########## Add A Spot Modal Begin ######### -->
          <h4>Add a new spot! </h4>
          <button id="addStuff" class="btn btn-success btn-lg" data-toggle="modal" data-target="#addspot">
            <span class="glyphicon glyphicon-plus"></span><a href="#"></a>
          </button>
        </div>
            </div>
              <div class="modal fade" id="addspot" tabindex="-1" role="dialog" aria-labelledby="addSpotLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                      <h2 style="color: black;" class="modal-title" id="addSpotLabel">Add a Spot</h2>
                    </div>
                    <div class="modal-body">
                    <!-- Page de Creation de Poisson -->
                    <form role="form" method="POST" action="/fish">

                      <div class="form-group">
                        <label for="exampleInputUsername1">Espece</label>
                        <select name="type" class="form-control">
                          <option>Barbue</option>
                          <option>Musky</option>
                          <option>Achigan</option>
                          <option>Esturgeon</option>
                          <option>Saumon</option>
                          <option>Truite</option>
                        </select>
                      </div>

                      <div class="form-group">
                        <label for="exampleInputEmail1">Username</label>
                        <input name="username" type="username" class="form-control" id="exampleInputEmail1" placeholder="Enter username" required>
                      </div>

                      <div class="form-group">
                        <label for="exampleInputPassword1">Weigth</label>
                        <input name="weigth" type="value" class="form-control" id="exampleInputPassword1" placeholder="Weigth" required>
                      </div>

                       <div class="form-group">
                        <label for="exampleInputUsername1">Length</label>
                        <input name="length" type="value" class="form-control" id="exampleInputEmail1" placeholder="Length" required>
                      </div>

                       <div class="form-group">
                        <label for="exampleInputUsername1">Location</label>
                        <input name="location" type="username" class="form-control" id="exampleInputEmail1" placeholder="Location" required>
                      </div>

                      <div class="form-group">
                        <label for="exampleInputUsername1">Lure</label>
                        <select name="lure" class="form-control">
                          <option>Spiner-Bait</option>
                          <option>Cuillere</option>
                          <option>Jigger</option>
                          <option>Worm</option>
                          <option>Popper</option>
                          <option>Jerk-Bait</option>
                        </select>
                      </div>

                      <div class="form-group">
                        <label for="exampleInputUsername1">Note</label>
                        <textarea name="info" type="username" class="form-control" id="exampleInputEmail1" placeholder="Some Note"></textarea>
                      </div>
                      <!--
                      <div class="form-group">
                        <label for="exampleInputFile">File input</label>
                        <input type="file" id="exampleInputFile">
                        <p class="help-block">Example block-level help text here.</p>
                      </div>
                      -->
                      <button type="submit" class="btn btn-success">Submit</button>

                    </form>
                  <!-- Fin de la creation de compte -->
                    </div>
                  </div>
                </div>
              </div>
              </div>
<!-- ########## Add A Spot Modal End ######### -->
        </div>
      </div>
       <!-- Jumbotron End -->
      {{.}} <!-- FISH RENDERING !! -->
      {{template "map"}}
    </div> <!-- /container -->
  </body>
</html>
