<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="">
    <link href='favicon.ico' rel='icon' type='image/x-icon'/>
    <!-- Fonts Link -->
    <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'/>
    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="css/jumbotron.css" type="text/css" rel="stylesheet">

    <script src="js/jquery.min.js"></script>
    <script src="js/jquery-ui.min.js"></script>
    <title>FishMe! | Home</title>
    <!--  Test Draggable
    <script>
      $(document).ready(function() {
        $("#sortable").sortable({
          revert: true
        });
        $("#draggable").draggable({
          connectToSortable: "#sortable",
          helper: "clone",
          revert: "invalid"
        });
      });
    </script>
   Fin test -->
  </head>

  <body>
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">FishMe!</a>
        </div>
        <div class="navbar-collapse collapse in" style="height: 1px;">
        <div class="container">
            <div class="pull-right">
              <div class="btn-group">
                <a type="button" class="btn btn-success navbar-btn" href="/home">Home</a>
              </div>
              
              <a type="button" class="btn navbar-btn btn-success"  href="/profil">Profil</a>

              <div class="btn-group">
                <button type="button" class="btn navbar-btn btn-success dropdown-toggle" data-toggle="dropdown" id="addStuff"><a href="#"></a>Add Stuff<b class="caret"></b></button>
                    <ul class="dropdown-menu .addStuff" role="menu">
                      <li><a href="#">Add new fish</a></li>
                      <li><a href="#">Add new spot</a></li>
                    </ul>
              </div>

                  <a type="button" class="btn navbar-btn btn-success" href="/logout">Log Out</a>

              </div>
            </div>
          </div>
        </div><!--/.navbar-collapse -->
      </div>


    <div class="container">

      <div class="jumbotron">
<!--POUR LE USERNAME* -->
        <h3 style="font-family: 'Lobster', cursive;">Welcome back, <span class="jumbo-username">
        {{$fish := index . 0}} <!-- Trouver une meilleur facons dafficher le user ! -->
        {{$fish.Username}}
        </span> !</h3>



      <div class="jumbotron">

        <div class="col-lg-6">

<!-- ########## Add A fish Modal Begin ######### -->
          <h4>Add a new fish! </h4>
          <button class="btn btn-success btn-lg" data-toggle="modal" data-target="#addfish">
            <span class="glyphicon glyphicon-plus"></span><a href="#"></a>
          </button>
        </div>

              <div class="modal fade" id="addfish" tabindex="-1" role="dialog" aria-labelledby="addFishLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                      <h2 style="color: black;" class="modal-title" id="addFishLabel">Add a Fish</h2>
                    </div>
                    <div class="modal-body">
                    <!-- Page de Creation de Poisson -->
                    <form role="form" method="POST" action="/fish" enctype="multipart/form-data">

                      <div class="form-group">
                        <label for="exampleInputUsername1">Species</label>
                        <select name="type" class="form-control">
                          <option>Achigan</option>
                          <option>Barbue</option>
                          <option>Brochet</option>
                          <option>Esturgeon</option>
                          <!--<option>Goldfish</option>-->
                          <option>Musky</option>
                          <option>Perchaude</option>
                          <option>Saumon</option>
                          <option>Truite</option>
                        </select>
                      </div>

                      <div class="form-group">
                        <label for="exampleInputPassword1">Weigth</label>
                        <input name="weigth" type="value" class="form-control" id="exampleInputPassword1" placeholder="Weigth" required>
                      </div>

                       <div class="form-group">
                        <label for="exampleInputUsername1">Length</label>
                        <input name="length" type="value" class="form-control" id="exampleInputEmail1" placeholder="Length" required>
                      </div>

                       <div class="form-group">
                        <label for="exampleInputUsername1">Location</label>
                        <input name="location" type="username" class="form-control" id="exampleInputEmail1" placeholder="Location" required>
                      </div>

                      <div class="form-group">
                        <label for="exampleInputUsername1">Lure</label>
                        <select name="lure" class="form-control">
                          <option>Spiner-Bait</option>
                          <option>Cuillere</option>
                          <option>Jigger</option>
                          <option>Worm</option>
                          <option>Popper</option>
                          <option>Jerk-Bait</option>
                        </select>
                      </div>

                      <div>
                        <label for="fileinput">Picture</label>
                          <input name="picture" type="file">
                      </div>

                      <div class="form-group">
                        <label for="exampleInputUsername1">Note</label>
                        <textarea name="info" type="username" class="form-control" id="exampleInputEmail1" placeholder="Some Note"></textarea>
                      </div>
                      <!--
                      <div class="form-group">
                        <label for="exampleInputFile">File input</label>
                        <input type="file" id="exampleInputFile">
                        <p class="help-block">Example block-level help text here.</p>
                      </div>
                      -->
                      <button type="submit" class="btn btn-success">Submit</button>

                    </form>
                  <!-- Fin de la creation de Poisson -->
                    </div>
                  </div>
                </div>
              </div>

<!-- ########## Add A fish Modal End ######### -->

        <div class="col-lg-6">

<!-- ########## Add A Spot Modal Begin ######### -->
          <h4>Add a new spot! </h4>
          <button class="btn btn-success btn-lg" data-toggle="modal" data-target="#addspot">
            <span class="glyphicon glyphicon-plus"></span><a href="#"></a>
          </button>
        </div>
            </div>
              <div class="modal fade" id="addspot" tabindex="-1" role="dialog" aria-labelledby="addSpotLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                      <h2 style="color: black;" class="modal-title" id="addSpotLabel">Add a Spot</h2>
                    </div>
                    <div class="modal-body">
                    <!-- Page de Creation de Poisson -->
                    <form role="form" method="POST" action="/fish">

                      <div class="form-group">
                        <label for="exampleInputUsername1">Espece</label>
                        <select name="type" class="form-control">
                          <option>Barbue</option>
                          <option>Musky</option>
                          <option>Achigan</option>
                          <option>Esturgeon</option>
                          <option>Saumon</option>
                          <option>Truite</option>
                        </select>
                      </div>

                      <div class="form-group">
                        <label for="exampleInputEmail1">Username</label>
                        <input name="username" type="username" class="form-control" id="exampleInputEmail1" placeholder="Enter username" required>
                      </div>

                      <div class="form-group">
                        <label for="exampleInputPassword1">Weigth</label>
                        <input name="weigth" type="value" class="form-control" id="exampleInputPassword1" placeholder="Weigth" required>
                      </div>

                       <div class="form-group">
                        <label for="exampleInputUsername1">Length</label>
                        <input name="length" type="value" class="form-control" id="exampleInputEmail1" placeholder="Length" required>
                      </div>

                       <div class="form-group">
                        <label for="exampleInputUsername1">Location</label>
                        <input name="location" type="username" class="form-control" id="exampleInputEmail1" placeholder="Location" required>
                      </div>

                      <div class="form-group">
                        <label for="exampleInputUsername1">Lure</label>
                        <select name="lure" class="form-control">
                          <option>Spiner-Bait</option>
                          <option>Cuillere</option>
                          <option>Jigger</option>
                          <option>Worm</option>
                          <option>Popper</option>
                          <option>Jerk-Bait</option>
                        </select>
                      </div>

                      <div class="form-group">
                        <label for="exampleInputUsername1">Note</label>
                        <textarea name="info" type="username" class="form-control" id="exampleInputEmail1" placeholder="Some Note"></textarea>
                      </div>
                      <!--
                      <div class="form-group">
                        <label for="exampleInputFile">File input</label>
                        <input type="file" id="exampleInputFile">
                        <p class="help-block">Example block-level help text here.</p>
                      </div>
                      -->
                      <button type="submit" class="btn btn-success">Submit</button>

                    </form>
                  <!-- Fin de la creation de compte -->
                    </div>
                  </div>
                </div>
              </div>
              </div>
<!-- ########## Add A Spot Modal End ######### -->
        </div>
      </div>
       <!-- Jumbotron End -->

        {{range $fish := .}}
        <div class="span8" id="draggable">
          <div class="col-sm-8 col-md-3">
            <div class="thumbnail">
              <img src="{{$fish.Picture}}">
              <div class="caption">
                
                <h2 style="color: #FFFFFF" name="type">{{$fish.Type}}</h2>
                  <!--<div class="">Type : {{$fish.Type}}</div>-->
                  <div class="spec" name="weight">Pounds : {{$fish.Weight}}</div>
                  <div class="spec" name="length">Inches : {{$fish.Length}}</div>
                  <div class="spec" name="lure">Lure : {{$fish.Lure}}</div>
                  <div class="spec" name="location">Location : {{$fish.Location}}</div>
                  <div class="spec" name="info">Info : {{$fish.Info}}</div>
                  <div class="spec" name="date">Date : {{$fish.Date}}</div>
                  
                  <form action="/delete" method="POST">
                    <input name="id" type="text" value="{{$fish.Id}}" hidden>
                    <button class="btn btn-success" type="submit">Remove</button>
                  </form>
              </div>
            </div>
          </div>
        </div>
        {{end}}

    </div> <!-- /container -->
<!-- Futur Footer here
    <div class="navbar navbar-default navbar-static-bottom">
      <div class="footer">
        <p>&copy; FishMe.io 2014</p>
      </div>
    </div>
-->
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script> -->
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>
