<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="">
    <link href='favicon.ico' rel='icon' type='image/x-icon'/>
    <!-- Fonts Link -->
    <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'/>
    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="css/jumbotron.css" type="text/css" rel="stylesheet">
    <!-- Js Files -->
    <script src="js/jquery.min.js"></script>
    <script src="js/jquery-ui.min.js"></script>

    <title>FishMe! | Profil</title>

  </head>

  <body>

    {{.}} <!-- Dynamic NavBar -->

      <div class="container">
        <ul>News Feed</ul>
      </div>

    
    <script src="js/bootstrap.min.js"></script>

  </body>
</html>
